.jumbotron{
  background-image: url("../../assets/imgs/alvaro-serrano-133384-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  background-attachment: fixed;
}

.card{
  a{
    text-decoration: none;
    color: black;
  }

}
.btn-group{
  img{
    height: 20px;
    width: 20px;
  }
}
